node_modules
.env
.env.local
.env.test
.env.development
.DS_Store
npm-debug.log
pnpm-lock.yaml
package-lock.json
yarn.lock

/dist
/build
/coverage
.cache
.vite
.turbo
.idea
.vscode
/tmp
/logs
/frontend/node_modules
/backend/node_modules
.eslintcache

